@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
Welcome to Graffiti VR.  Looking for a fun way to practice your coding skills and build cool 
VR experiences? <a href="InspiredToEducate.NET">InspiredToEducate.NET</a> designed this application
to enable you to play with very simple ideas in JavaScript and Blockly. 
This sample uses a JavaScript framework called AFrame to build 3D content in your browser 
or mobile phone browser. The display engine supports major VR platforms 
including Google Cardboard, Vive, and Oculus. (Thank you AFrame community!)
</p>

<p>
In Graffiti VR, you command a small bot who can travel in 3D space. 
The robot can place boxes, spheres, images, and other 3D shapes. 
This tool borrows ideas from popular code 
education tools like Logo, <a href="code.org">code.org</a>, 
<a href="https://github.com/walterhiggins/ScriptCraft">ScriptCraft</a> by Walter Higgins.
</p>
