@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Graffiti VR.</h1>



    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
        <div class="panel-body">
        
            <div class="form-group">
            <label for="txtUserName">Username</label>
            <input type="email" class="form-control" id="txtUserName" placeholder="Enter user name">
            </div>
            <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" class="form-control" id="txtPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-sm btn-default">Sign in</button>
        
        </div>
    </div>
