
@{
    ViewBag.Title = "SampleCode";
}

<div class="container">
    <h3>Sample Code</h3>
    <table class="table table-striped">

        <tr>
            <th>Code</th>
            <th>Generated Shapes</th>

        </tr>
        <tr>
            <td valign="top"><img src="~/Content/samples/sample2_code.jpg"></td>
            <td><img src="~/Content/samples/sample2.jpg"></td>
        </tr>

        <tr>
            <td valign="top"><img src="~/Content/samples/sample3_code.jpg"></td>
            <td><img src="~/Content/samples/sample3.jpg"></td>
        </tr>


        <tr>
            <td valign="top"><img src="~/Content/samples/sample4_code.jpg"></td>
            <td><img src="~/Content/samples/sample4.jpg"></td>
        </tr>
        <tr>
            <td valign="top"><img src="~/Content/samples/sample5_code.jpg"></td>
            <td><img src="~/Content/samples/sample5.jpg"></td>
        </tr>
        <tr>
            <td valign="top"><img src="~/Content/samples/sample1_code.jpg"></td>
            <td><img src="~/Content/samples/sample1.jpg"></td>
        </tr>


    </table>

</div>

